body{
  font-family:'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #fff;
  padding: 60px 0 20px;
  font-size: 3.5rem;
}

.font {
  color: #ef8172;
  font-size: 5rem;
}

.font:hover{
  color: #ff4c68;
}

.carousel-item{
  padding: 7% 15%;
}


.container-fluid{
  padding: 3% 15%;
}

.company{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
}

.descrip {
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.dog{
  width: 60%;
  position: absolute;
  transform: rotate(20deg)
  /* z-index: -1; */
}

/* .dog-icon{
  padding: 45px 0;
} */

.footer-img{
  padding: 5% 0 7%;
}

.foot-icon{
  margin: 3px 5px;
}

.icon{
  margin-right: 20px;
}

.press-source{
  width: 15%;
  margin: 20px 20px 50px;
  display: inline;
}

.navbar{
  padding: 0 0 4.5rem;
}

.pricing-box {
  padding: 3% 5%;
}

.test-img{
  padding: 20px;
  width: 10%;
  border-radius: 100%;
}

.title-info{
  color: white;
}

#cta{
  text-align: center;
  background-color: #ff4c68;
}

#features{
  text-align: center;
  /* margin-top: 35px; */
  position: relative;
  z-index: 1;
  background-color: #fff;
}

#footer {
  background-color: #fff;
  text-align: center;
  margin: 5%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing{
  text-align: center;
  padding: 100px;
}

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#title{
  background-color: #ff4c68;
}

@media (max-width: 991px) {

  #title{
    text-align: center;
  }

  .dog{
    position: static;
    transform: rotate(0);
    margin: 25px auto 20px;
    width: 30%;
  }
}
